<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant view</title>
</head>
<body>
    <h1><%= plant.name %></h1>
    <p>Estación en la que florece: <%= plant.season %></p>
    <p>Color: <%= plant.color %></p>
    <p>Hojas: <%= plant.leaves %></p>
    <p>Instrucciones: <%= plant.instructions %></p>
</body>
</html>